/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
    overflow-x: hidden;  /* Prevent horizontal overflow */
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
    height: auto; /* Allow content to expand based on its height */
    min-height: 100vh; /* Ensure container takes up at least the full viewport */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly translucent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
    border-radius: 15px;
    padding: 20px;
    max-width: 90%;
    margin: auto;
}

/* Ensure h1 is visible and styled */
h1 {
    font-size: 2.5rem;
    margin: 20px 0; /* Add spacing around h1 */
    color: #333;
}

/* Home Page */
#startButton {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    background-color: #ff9900;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#startButton:hover {
    background-color: #e68a00;
    transform: scale(1.05); 
}

/* Egg Cracking Page */
#eggImage {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#eggImage:hover {
    transform: scale(1.1);
}

h2 {
    margin-bottom: 20px;
    color: #333333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Egg Nutrition Page */
p {
    margin: 5px;
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
    text-align: left;
    width: 80%;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

p:hover {
    transform: scale(1.02);
    background: #f0f8ff;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    #eggImage {
        width: 120px;
    }

    #startButton {
        font-size: 16px;
        padding: 12px 20px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
